main.home-main{
    background: #dfefff url(../assets/img/home-bg.jpeg) no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    font-family: var(--text);
}

header.home-header{
    background-color: white;
    width: 100%;
    height: 80px;
    padding: 5px 30px;

    display: flex;
    justify-content: space-between;
}

div.div-header{
    display: flex;
    align-items: center;
}

.logo-home{
    height: 60px;
}

.title{
    color: var(--blue);
    font-family: var(--title);
    font-weight: 400;
    font-size: 2rem;
}

.title span{
    color: var(--green);
}

.btn-home{
    border: 2px solid var(--light-green);
    background-color: var(--light-green);
    color: white;
    border-radius: 8px;
    padding: 8px 10px;
    margin-left: 14px;
    cursor: pointer;
    font-family: var(--text);
    font-size: 15px;

    transition: all 0.3s ease-in-out;
}

.btn-home#btn-login{
    background-color: white;
    color: var(--light-green);
}

.btn-home:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transform: translateY(-1px);
}

div.div-home-start{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    height: calc(100vh - 80px);
}

.section-start{
    padding: 5px 3.3rem;
}

.first-txt-home{
    font-family: var(--title);
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 3.3rem;
    margin-bottom: 40px;
}

.second-txt-home{
    font-family: var(--text);
    color: var(--dark-gray);
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 40px;
}

#start-now{
    margin-left: 0px;
}

.expenses-start{
    background-color: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 2px 7px #00000026;
}

.expenses-div-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0;
}

.expenses-div-txt > p{
    font-family: var(--text);
    margin: 10px 0;
}

.gray-text{
    color: var(--gray);
    font-size: 13px;
}

#valor{
    color: var(--green);
    font-weight: 400;
    text-align: right;
}

.expenses-div-items{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 15px 14px;
    background-color: #c9c9c432;
    border-radius: 12px;
    margin-bottom: 18px;
}

.items-icon{
    margin-right: 14px;
    background-color: #4fb3e865;
    padding: 8px;
    border-radius: 8px;
}

.items-price{
    margin-left: auto;
}

#final-value{
    margin-top: 25px;
}

#final-value > p:nth-child(2){
    color: var(--green);
    font-weight: 500;
}