main.home-main{
    background-color: rgb(108, 182, 255);
    width: 100vw;
    height: 100vh;

    font-family: var(--text);
}

header.home-header{
    background-color: white;
    width: 100%;
    height: 80px;
    padding: 5px 30px;

    display: flex;
    justify-content: space-between;
}

div.div-header{
    display: flex;
    align-items: center;
}

.logo-home{
    height: 60px;
}

.title{
    color: var(--blue);
    font-family: var(--title);
    font-weight: 400;
    font-size: 2rem;
}

.title span{
    color: var(--green);
}

.btn-home{
    border: 2px solid var(--light-green);
    background-color: var(--light-green);
    color: white;
    border-radius: 8px;
    padding: 8px 10px;
    margin-left: 14px;
    cursor: pointer;
    font-family: var(--text);
    font-size: 15px;

    transition: all 0.3s ease-in-out;
}

.btn-home#btn-login{
    background-color: white;
    color: var(--light-green);
}

.btn-home:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transform: translateY(-1px);
}

div.div-home-start{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    height: calc(100vh - 80px);
}

.section-start{
    padding: 5px 3.3rem;
}