main.login-container{
    background-color: #ACD0BD;
    width: 100vw;
    height: 100vh;

    font-family: var(--text);

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.login-info{
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    padding: 0px 30px;
}

.login-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.img-logo{
    width: 80px;
    height: auto;
}

.btn-link{
    background: none;
    border: none;
    cursor: pointer;
}

.btn-link img{
    width: 25px;
    height: 25px;

    transition: all 0.4s ease-in-out;
}

.btn-link img:hover{
    transform: translateY(-2px);
}

.login-title{
    text-align: center;
    margin-bottom: 8px;
}

.login-title h1{
    font-family: var(--title);
    font-weight: 400;
    font-size: 2.2rem;
    padding-bottom: 12px;
    
}

.login-form{
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
   
form label{
    font-size: 1.1rem;    
}   

form input{
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
    border: 1px solid var(--light-gray);
}

form input:focus{
    outline: none;
    border: 2px solid var(--green);
}

.input-wrapper{
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.input-wrapper input{
  width: 100%;
  height: 44px;
  padding-left: 40px;
}

.icon-input{
  position: absolute;
  left: 12px;   
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--light-gray);
  pointer-events: none;
}

form .btn{
    margin-top: 20px;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    background-color: var(--green);
    border: none;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.btn:hover{
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.btn:active{
  transform: scale(0.98);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.login-text{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}

.login-text p, .login-text a{
    color: var(--dark-gray);
    font-size: 0.9rem;
    font-weight: 600;
}

.login-text a{
    text-decoration: none;   
}

.login-text a:hover{
    color: var(--dark-green);
}

.login-img{
    overflow: hidden;
}

.background-img{
    width: 100%;    
    object-fit: cover;
    object-position: center;
}